@model UpdateEmployeeVM
<form method="post">
    <div class="mb-3">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Subtitle">Subtitle</label>
        <input asp-for="Subtitle" class="form-control">
        <span asp-validation-for="Subtitle"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ImageUrl">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control">
        <span asp-validation-for="ImageUrl"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
